nav{
    background: transparent;
}

.navbar button{
    background: #00aafb;
    margin-left: auto;
    border-radius: 50%;
}

.header ul li a {
    color: white;
    margin-bottom: 20px;
    text-decoration: none;
}

.header ul li a:hover {
    background: #00aafb;
}

.header ul li{
    margin-bottom: 20px;
    list-style: none;
   }

.p-4{
    background: black;
}

.jumbotron{
    height: 70vh;
    background-image: url(../img/b7.jpeg);
    background-size: cover;
}

.jumbotron img{
    opacity: .6;
    width: 30%;
    height: 10%;
    background: white;
    box-shadow:white;
    margin-top: 5%;
}

.content-1{
    padding-top: 100px;
    padding-bottom: 100px;
}

.content-1 span{
    color: #00aafb;
}

.content-1 a{
    color: black;
    border-bottom: black 10px;
}

.content-1 a:hover{
    background-color: #00aafb;
}

#pertama-2{
    margin-top: 50px;
}

#pertama .well{
    font-size: 11px;
}
#pertama h2{
    font-size: 39px;
}

.content-2{
    background-color: #f9f9f9;
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center;
}

.content-2 h2{
    margin-bottom: 50px;
}

.content-2 button{
    margin-top: 30px;
}

.content-3{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.content-3 span{
    color: #00aafb;
}

.content-3 .card{
    border: none;
}

.content-3 img{
    margin-bottom: 20px;
}

.content-4{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f9f9f9;
}

.content-4 h2{
    margin-bottom: 20px;
    font-size: 50px;
}

.content-4 span{
    color: #00aafb;
}

.content-4 .card{
    border: none;
}

.content-4 img{
    margin-bottom: 20px;
}

.content-4 #kedua{
    margin-top: 80px;
}

.footer{
    padding-top: 100px;
    text-align: center;
    color: white;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.footer form{
    width: 50%;
    margin-top: 50px;
}

.footer p{
    margin-top: 50px;
}



